<template name="game">
    <div id="container">
        {{> hello}}
        {{> ball}}
        <div id="chatLocation">
            {{> entry}}
        </div>
        <footer>Project camel Race Matt Ewout Robin</footer>
    </div>
</template>


<template name="hello">
    {{greeting}}
    <!--<button id="btnMoveCamel" type="button">Run camel!</button>-->
    <!--<label>Distance : (tussen 0 en 590,590 is de afstand van heel de baan)</label><input type="text" id="txtboxDistance"   />-->
    <!--<label>Speed : (in milisec)</label><input type="text" id="txtboxSpeed"   />-->


    <svg id="backgroundRaceField">
    </svg>
</template>

<template name="ball">
    <svg id="ballTrowLocation">
    </svg>
</template>

<template name="messages">
    {{#each messages}}
    {{> message}}
    {{/each}}
</template>

<template name="message">
    <p><strong>{{name}}:</strong> {{message}}</p>
</template>

<template name="entry">
    <div id="chat" readonly>
        {{> messages}}
    </div>
    <input type="text" id="chatInput" placeholder="your message">
</template>
