/* CSS declarations go here
 */

@font-face {
    font-family: 'Norwester';
    src: url("../public/webfonts/norwester.ttf");
}

@font-face
{
    font-family: myFirstFont;
    src: url("../public/webfonts/norwester.woff");
    font-weight:bold;
}

h1, h2, h3 ,p { font-family: 'Norwester', 'Georgia', serif; }



