<template name="home">
    <svg id="TitleText"></svg>
    <section id="setUsernameBox">
        <p>
            <label for="txtSetUsername">Pick a username:</label>
            <input type="text" id="txtSetUsername">
            <br>

            <label for="txtSetPlayerId">Pick a playerId:</label>
            <input type="text" id="txtSetPlayerId">
            <br>
            <input type="submit" value="Set!" id="btnSetUsername"/>
        </p>
    </section>

    {{> welcomeCamel}}


</template>

<template name="welcomeCamel">
    <svg id="camelRunningBy">
    </svg>
</template>