#ball {
    position: relative;
    /*display: block;*/
    width: 200px;
    height: 200px;

    background-color: #3b4ba3;

    border-radius: 50%;

    box-shadow: inset -25px -25px 40px rgba(0,0,0,.5);

    background-image: -webkit-linear-gradient(-45deg, rgba(255,255,220,.3) 0%, transparent 100%);
    background-image: -moz-linear-gradient(-45deg, rgba(255,255,220,.3) 0%, transparent 100%);
    background-image: -o-linear-gradient(-45deg, rgba(255,255,220,.3) 0%, transparent 100%);
    background-image: -ms-linear-gradient(-45deg, rgba(255,255,220,.3) 0%, transparent 100%);

    margin: 10px;
}